body {
    /* box-sizing: border-box; */
    margin: 0;
}

header {
    background-color: white;
    box-shadow: 0 2px gray;
    padding: 0;
    position: fixed;
    text-align: justify;
    top: 0;
    width: 100%;
    z-index: 10;
}

a {
    color: black;
    text-decoration: none;
}

section a {
    color: #6288a5;
    text-decoration: underline;
}

.section-title {
    display: inline;
    /* margin: 0; */
}

.site-title {
    font-size: 1.5em;
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: center;
}

header > div {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
}

header:after, .section-reco:after, nav:after {
    content: "";
    display: inline-block;
    width: 100%;
}


.container {
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    width: 600px;
}

h1 {
    font-size: 2.7em;
    font-style: italic;
}

.article-img {
    display: table;
    left: -250px;
    position: relative;
}

figcaption {
    caption-side: bottom;
    display: table-caption;
    font-family: 'Open Sans Condensed', sans-serif;
}

figcaption span {
    font-family: 'Nunito', sans-serif;
}

section {
    position: relative;
}

.editors-picks {
    bottom: 150px;
    float: right;
    position: absolute;
    right: -250px;
    width: 210px;
}

.editors-picks .aside-heading{
    border-bottom: 0.5px solid black; 
}

.editors-picks div { 
    position: relative;
    width: 210px;
}

.editors-picks img {
    height: 75px;
    width: 75px;
}

.editors-picks p {
    color: black;
    float: right;
    font-size: 12px;
    margin: 0;
    width: calc(100% - 85px);
}

.byline {
    font-weight: bold;
}

.byline a {
    color: black;
}

.signup-aside {
    bottom: 150px;
    float: right;
    position: absolute;
    right: -250px;
    width: 210px;
}

.signup-aside p {
    font-size: 12px;
}

.signup-aside h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.member-btn {
    background-color: #6288a5;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.signup-aside button {
    width: 80%;
}

.publish-info {
    margin-bottom: 50px;
    margin-top: 20px;
}

.publish-info p, .publish-info a {
    color: grey;
    font-size: 14px;
    font-weight: 200;
}

.publish-info > .member-btn {
    padding-left: 100px;
    padding-right: 100px;
}

.reco-container {
    margin: 0 auto;
    width: 80%;
}

.section-reco {
    border-top: 1px solid black;
    display: inline-block;
    margin-left: 8%;
    margin-top: 20px;
    text-align: justify;
    width: 50%;
}

.section-reco div {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
    width: 30%;
}

/* 
We set the container’s text-align to justify and the inside divs’ display to inline-block so they’ll behave like inline elements and can be justified. The vertical-align: top is there to make sure that if one of those divs will be higher than other, all divs will be aligned to the top and not—as it is in default — to the bottom of the container. Now the layout will work only with the :after pseudo element. It is required because of the justification specification: the last line in paragraphs is not justified. In our case that last line would be the line with the divs. So we need to create a fake last line with :after pseudo element so the previous one (with divs) will get justified. 
*/

.section-reco figure {
    display: table;
    font-size: smaller;
    margin: 5px 0;
    max-height: 100px;
    text-align: right;
    width: 100%;
}

.section-reco img {
    margin: 0;
    width: 100%;
}

.date {
    color: grey;
    font-size: 13px;
}

.general-reco {
    border-top: 1px solid black;
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
    vertical-align: top;
    width: 30%;
}

.general-reco p {
    border-top: 0.8px solid grey;
    color: black;
    font-size: 1.2em;
    line-height: 0.9;
    padding-top : 20px;
}

nav {
    border-top-style: double;
    margin: 0 auto;
    text-align: justify;
    width: 70%;
}

.category {
    display: inline-block;
    vertical-align: top;
}

.category p {
    margin-bottom: 4px;
    margin-top: 4px;
}

.category a:hover {
    text-decoration: underline;
}

.nav-header a:nth-child(1) {
    display: inline-block;
}

.nav-header a:nth-child(2) {
    float: right;
    margin-top: 15px;
}

footer {
    border-top: 1px solid grey;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

footer a {
    color: grey;
    font-size: 12px;
}

footer a:hover {
    text-decoration: underline;
}