body {
    box-sizing: border-box;
    margin: 0;
}

header {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    padding: 10px 0;
    box-shadow: 0 2px gray;
    z-index: 10;
}

.nav-btn {
    /* float: left; */
}

.section-title {
    display: inline;
    margin: 0;
}

.site-title {
    width: 300px;
    margin: 0 auto;
}

header > div {
    display: inline-block;
}

header > div:nth-child(1) {
    width: 30%;
}

header > div:nth-child(3) {
    float: right;
}

header > div:nth-child(2) {
    width: 25%;
}

.container {
    padding-top: 50px;
    position: relative;
    width: 600px;
    margin: 0 auto;
}

.article-img {
    position: relative;
    left: -250px;
    display: table;
}
figcaption {
    display: table-caption;
    caption-side: bottom;
    font-family: 'Open Sans Condensed', sans-serif;
}

figcaption span {
    font-family: 'Nunito', sans-serif;
}

section {
    position: relative;
}

.editors-picks {
    width: 210px;
    position: absolute;
    right: -250px;
    bottom: 150px;
    float: right;
}

.editors-picks h4 {
    border-bottom: 0.5px solid black; 
}

.editors-picks div { 
    width: 210px;
    position: relative;
}

.editors-picks img {
    height: 75px;
    width: 75px;
}

.editors-picks p {
    width: calc(100% - 85px);
    margin: 0;
    float: right;
    color: black;
    font-size: 12px;
}

.byline {
    font-weight: bold;
    
}

.byline a {
    text-decoration: none;
    color: black;
}

.signup-aside {
    width: 210px;
    position: absolute;
    right: -250px;
    bottom: 150px;
    float: right;
}

.signup-aside p {
    font-size: 12px;
}

.signup-aside h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.member-btn {
    background-color: #6288a5;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.signup-aside button {
    width: 80%;
    
}

.publish-info {
    margin-top: 20px;
    margin-bottom: 50px;
}

.publish-info p, .publish-info a {
    font-size: 14px;
    font-weight: 200;
    color: grey;
}

.publish-info a {
    text-decoration: none;
    
}

.publish-info > .member-btn {
    padding-left: 100px;
    padding-right: 100px;
}

.reco {
    width: 80%;
    margin: 0 auto;
}

.section-reco {
    width: 70%;
    display: inline-block;
    /* border: 2px solid green; */
    text-align: justify;
    /* clear: left; */
}

.section-reco div {
    width: 30%;
    /* margin: 0; */
    display: inline-block;
    /* float: left; */
    /* border: 2px solid red; */
    margin-right: 5px;
    vertical-align: top;
    padding: 0;
    /* margin-bottom: 20px; */
    /* position: relative;
    top: 0; */
}

/* We set the container’s text-align to justify and the inside divs’ display to inline-block so they’ll behave like inline elements and can be justified. The vertical-align: top is there to make sure that if one of those divs will be higher than other, all divs will be aligned to the top and not—as it is in default— to the bottom of the #container.

Now the layout will work only with the :after pseudo element. It is required because of the justification specification: the last line in paragraphs is not justified. In our case that last line would be the line with the divs. So we need to create a fake last line with :after pseudo element so the previous one (with divs) will get justified. You could also use an additional element (eg. span) but it will result in a code redundancy */

.section-reco:after {
    content: "";
    width: 100%;
    display: inline-block;
  }



.section-reco img {
    width: 120%;
    margin: 0;
}

.section-reco figure {
    display: table;
    /* border: 2px solid blue; */
    text-align: right;
    font-size: smaller;
    max-height: 100px;
    padding: 0;
}

.date {
    font-size: 13px;
    color: grey;
}

.general-reco {
    width: 30%;
}